.user-menu {
  --size: 22px;
  @include flex-center-sb;
  gap: 37px;

  &__btn {
    display: block;

    svg {
      width: var(--size);
      height: var(--size);
      fill: var(--accent-color);
      transition: all .3s;

      &:hover {
        fill: var(--secondary-color);
        transform: scale(1.2);
      }
    }
  }

  // 
  &__search {
    position: relative;
    display: flex;
  }
}