:root {
  // Fonts
  --main-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Federo', sans-serif;
  // Colors
  --accent-color: #697390;
  --secondary-color: #3a3a3a;
  --card-title-color: #2a2a2b;
  --btn-color: #434343;
  --light-color: #fff;
  --price-color: #8c8c8c;
  --hot: #f29731;
  --seller: #9e0b0f;
  // Sizes
  --container-width: 1120px;
  --container-fluid-width: 1260px;
  --main-padding: 10px;
  --section-padding: 40px;
  --main-gap: 20px;
}